<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>最新消息</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <h3 style='font-family:微軟正黑體;font-size:30px;font-weight:500;'>最新消息<a style='font-family:微軟正黑體;font-size: small;color:#6FB7B7' href='/'>回首頁</a></h3><hr>
    </head>
    <body style="background-color:#ECF5FF">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <a >
            <a href='https://www.ncl.edu.tw/information_237_15206.html' style="color:#7373B9;">國圖冬季閱讀，邀您一同閱讀莎士比亞</a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15188.html'style="color:#7373B9">徵才公告-知服組編輯職缺(B) 1名</a> <br><br>
            <a href='https://www.ncl.edu.tw/information_237_15184.html'style="color:#7373B9">漢籍文本之國際漫遊：對漢籍文本文化之當代態度與寰宇視角國際研討會 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15179.html'style="color:#7373B9">2023「查找資料，國圖有禮」線上問答活動開跑 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15176.html'style="color:#7373B9">國家圖書館技工甄選1名 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15171.html'style="color:#7373B9">徵才公告-知服組編輯職缺(A) 1名 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15170.html'style="color:#7373B9">徵才公告-知服組助理編輯1名 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15162.html'style="color:#7373B9">獅子島和美麗島的對話—《蝸牛起義》和《噢，柯南》新書分享會 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15157.html'style="color:#7373B9">112年臺灣閱讀節「好書交換趣」邀請愛書人一起來挖寶 </a><br><br>
            <a href='https://www.ncl.edu.tw/information_237_15156.html'style="color:#7373B9">「2023金資獎－全國公務人員及圖書館相關人員圖書資訊素養競賽」開始報名，歡迎踴躍參加！ </a><br><br>
        <a> 瀏覽人數:999 </a>
        </a>
        <script src="" async defer></script>
    </body>
</html>